.idea/
.vscode/
.project
.settings/
*.iml
*/target/

*.classpath

fitnesse/FitNesseRoot/**/*.zip

# The files in this folder are generated as part of testreports, no need to commit these.
fitnesse/FitNesseRoot/files/
